<div class="comment" comment-id="{{commentID}}" post-id="{{postID}}" user-id="{{userID}}">

  <div class="comment-contents">

    <a href="users/{{username}}"class="comment-username">
      {{username}}
    </a>

    <p class="comment-text">
      {{text}}
    </p>

  </div>
</div>
